body {
    background-color: #ffffbf;
    font-size: 16px;
}

.header {
    color: blue;
}

.form-data label {
    display: block;
}

.form-data div {
    margin: 1rem 0;
}

.reset-button, .submit-button {
    background-color: aqua;
    font-weight: bold;
    color: #fff;
}