<div class="filter-container">
    <div *ngFor="let category of categories" class="filter-div">
        <button mat-raised-button color="primary" (click)="selectFilter(category.id)">{{category.name | uppercase}}</button>
    </div>
</div>