<h1>Add a note</h1>
<!-- Template driven form
    <form class="add-note-form">
    <mat-form-field>
        <input matInput name="inputNote" [(ngModel)]="title" required minlength="4" placeholder="Enter your title" #titleValidation="ngModel"/>
        <div *ngIf="titleValidation.invalid && (titleValidation.dirty || titleValidation.touched)" class="alert">

            <div *ngIf="titleValidation.errors?.['required']">
                Titlul este necesar.
            </div>
            <div *ngIf="titleValidation.errors?.['minlength']">
                Titlul trebuie sa aiba minim 4 caractere.
            </div>
        </div>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput name="inputNote" [(ngModel)]="description" placeholder="Enter your description"></textarea>
    </mat-form-field>
    <button mat-button>Add</button>
</form> -->

<!-- Template driven form -->
<form [formGroup]="addNoteForm" class="add-note-form" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input matInput formControlName="id" placeholder="id"/>
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="title" placeholder="title"/>
        <div *ngIf="addNoteForm.get('title').invalid && addNoteForm.get('title').touched">
            Title is required
        </div>
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="description" placeholder="description"/>
        <div *ngIf="addNoteForm.get('description').invalid && addNoteForm.get('description').touched">
            Description is required
        </div>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId" matSelect required>
            <mat-option *ngFor="let category of categories" [value]="category.id">
                {{category.name}}
            </mat-option>
        </mat-select>
        <div *ngIf="addNoteForm.get('categoryId').invalid && addNoteForm.get('categoryId').touched">
            Category is required
        </div>
    </mat-form-field> 
    <button mat-button>Add</button>
</form>