.add-note-card {
        width: 200px;
        height: 200px;
        margin: 20px 10px 20px 10px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: aquamarine;
}
    