<form class="add-note-form">
    <mat-form-field>
        <input 
        matInput
        placeholder="Search term - title"
        (input)="sendSearchTitle(searchTitle.value)" 
        #searchTitle/>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input 
        matInput
        placeholder="Search term - description"
        (input)="sendSearchDescription(searchDescription.value)" 
        #searchDescription/>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input 
        matInput
        placeholder="Search term - description & title"
        (input)="sendSearchDescriptionAndTitle(searchDescriptionAndTitle.value)" 
        #searchDescriptionAndTitle/>
    </mat-form-field>
</form>