<ul>
    <li *ngFor="let string of strings">
        {{string | uppercase}}
    </li>
</ul>

<div>
    Let's show only the elements with an even index
    <ul>
        <li *ngFor="let value of strings; index as i">
            {{value | even: i}}
        </li>
    </ul>
</div>

<div>
    The hour is <span highlightElement>(displayed using a date pipe):</span>
    {{myDate | date : "short"}}
</div>