<form [formGroup]="editNoteForm" class="add-note-form" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input matInput formControlName="id" placeholder="id"/>
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="title" placeholder="title"/>
        <div *ngIf="editNoteForm.get('title').invalid && editNoteForm.get('title').touched">
            Titlul este required
        </div>
    </mat-form-field>
    <mat-form-field>
        <input matInput formControlName="description" placeholder="description"/>
        <div *ngIf="editNoteForm.get('description').invalid && editNoteForm.get('description').touched">
            Descrierea este required
        </div>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId">
            <mat-option *ngFor="let category of categories" [value]="category.id">
                {{category.name}}
            </mat-option>
        </mat-select>
    </mat-form-field> 
    <button mat-button>Update</button>
</form>