.note {
  width: 200px;
  height: 200px;
  margin: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;

  .card-title {
    flex-shrink: 0;
  }

  .card-content {
    flex-grow: 1;
    overflow: auto;
  }

  .card-buttons {
    display: flex;
    justify-content: space-between;
  }
}

.note-container {
  display: flex;
  flex-wrap: wrap;
}

.note {
  flex: 1 0 33.3333%;
  align-items: center;
}
