<div class="note-container">
  <div *ngFor="let note of notes" class="note">
    <mat-card class="note">
      <mat-card-header>
        <mat-card-title class="card-title">
          {{note.title}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content">
        <p>
          {{note.description}}
        </p>
      </mat-card-content>
      <mat-card-actions class="card-buttons">
        <div>
          <button mat-icon-button>
            <mat-icon>arrow_right_alt</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>star_half</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>done_outline</mat-icon>
          </button>
        </div>
        <div>
          <button mat-icon-button [routerLink]="['edit-note/', note.id]"> 
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteNote(note.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<app-search 
(searchTitleChanged)="getSearchTitle($event)"
(searchDescriptionChanged)="getSearchDescription($event)"
(searchDescriptionAndTitleChanged)="getSearchDescriptionAndTitle($event)"
></app-search>
<button (click)="useTitleSearch()">Use title search!</button>
<button (click)="useDescriptionSearch()">Use description search!</button>
<button (click)="useDescriptionAndTitleSearch()">Use description search!</button>
