<p [style.color]="titleColor" [style.background]="titleBg">
    Title is {{title}}
</p>
<p>
    Text is: {{noteContent}}
</p>
<input type="text" [(ngModel)]="noteContent"/>
<button mat-icon-button (click)="changeNoteContent()">
    <mat-icon>add</mat-icon>
</button>
<br/>
<button mat-icon-button (click)="selectColor()" class="changeColor">
    Change color
</button>
<br/>
<mat-form-field>
    <input matInput placeholder="Add Note" >
</mat-form-field>